/* pop-up */

.pop-up-show {
    top: 19% !important;
}

.pop-up-message {
    position: fixed;
    background: linear-gradient(180deg, rgba(255, 49, 1, 0.5) 14.78%, rgba(255, 240, 240, 0) 103.1%);
    backdrop-filter: blur(30px);
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: -100%;
    right: 50%;
    border-radius: 30px;
    padding: 1rem;
    transform: translate(50%, -50%);
    z-index: 40;
    transition: visibility 0s linear 300ms, opacity 300ms, top .7s ease-out;
    opacity: 1;

}

.pop-up-btn {
    align-self: flex-end;
    margin-right: 1rem;
    cursor: pointer;
    transition: .2s ease-in;
    width: 1.5rem;
    height: 1.5rem;
}

.pop-up-btn:hover {
    transform: scale(1.1);
}

.pop-up-title {
    font-weight: 700;
    color: white;
    margin: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

.pop-up-pic {
    width: 1.5rem;
    height: 1.5rem;
}

/* pop-up */
/*--------------HERO SECTION-------------*/

#hero {
    position: relative;
}

.hero-img {
    position: absolute;
    top: 10rem;
    left: 0rem;
    transition: transform 7s ease-in-out;
    animation: big-box-animation 7s infinite;
}

.hero-img img {
    max-width: 40vw;
}


@keyframes big-box-animation {
    0% {
        transform: translateY(-40px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-40px);
    }
}

@keyframes small-blob {
    0% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-30px);
    }
}




.hero-blob {
    position: absolute;
    top: 28%;
    right: 0rem;
    display: none;
    user-select: none;
}

.hero-blob img {
    width: 90%;
}

.hero-blob-2 {
    position: absolute;
    top: 28%;
    right: 0rem;
    display: none;
    user-select: none;
}

.hero-blob-2 img {
    width: 90%;
}

.hero-blob-3 {
    position: absolute;
    top: 28%;
    right: 0rem;
    display: none;
    user-select: none;
}

.hero-blob-3 img {
    width: 90%;
}

.hero-text {
    position: absolute;
    right: 9%;
    top: 17rem;
}

.hero-text h1 {
    font-size: 2.5rem;
    color: white;
    font-family: 'Carter One', cursive;
    letter-spacing: 5px;
    margin-bottom: 1em;
}

.hero-text p {
    font-size: 1.5rem;
    color: white;
    font-family: 'Carter One', cursive;
    letter-spacing: 2px;
}

.hero-bottom {
    margin-top: 3rem;
}

.hero-wave {
    margin-top: 38rem;
    vertical-align: bottom;
}

/* ----------------SECTIONS----------------------- */
.top-layer {
    z-index: 5;
}

.title {
    text-align: center;
    color: white;
    font-family: 'Bangers', cursive;
    letter-spacing: 2.5px;
    font-size: 4.5rem;
    margin-bottom: 3.5rem;

}

.btn {
    margin-top: 3.5rem;
    height: 2.5rem;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #7C56B1;
    transition: all .3s ease-in;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.btn:hover {
    background-color: #7C00FF;
    transform: scale(1.1);
}

.btn a {
    font-size: 1.5rem;
    padding: 0 2.5rem;
    color: white;
}

.btn-preset {
    background-color: #8EC4D2;
}

.btn-preset:hover {
    background-color: #00ccff;
    transform: scale(1.1);
}

.btn-cst {
    background-color: #D9604C;
}

.btn-cst:hover {
    background-color: #ff5100;
    transform: scale(1.1);
}

/* ----------------SUBSCRIBE SECTION----------------------- */

#subscribe-section {
    background: linear-gradient(180deg, #2C023A 11.54%, #4E1B8F 100%, #4E1B8F 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.subscribe-top-wave {
    vertical-align: top;
    z-index: 4;
    width: 100vw;
}

.sub-circles, .sub-bubbles {
    position: absolute;
    transition: transform 1s ease-out;

}

.sub-bubbles {
    z-index: 2;
    mix-blend-mode: screen;
}

.sub-circles {
    z-index: 1;
    opacity: .7;
}

.sub-bubbles img {
    max-width: 100vw;
}

.sub-circles img {
    max-width: 79vw;

}

.subscribe-content {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}



.subscribe-img-container {
    display: flex;
}

.subscribe-img {
    max-width: 60%;
    margin: auto;


}


.subscribe-bottom-wave {
    width: 100vw;
    vertical-align: bottom;
    z-index: 4;
}

/* ----------------SUBSCRIBE SECTION----------------------- */

/* ----------------PRESET SECTION----------------------- */
#preset-section {
    background: linear-gradient(180deg, #449DDA 11.54%, #3CD2EF 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.preset-top-wave {
    vertical-align: top;
    z-index: 4;
    width: 100vw;
}

.preset-circles, .preset-bubbles {
    position: absolute;
    transition: transform 1s ease-out;
}

.preset-bubbles {
    z-index: 2;
}

.preset-circles {
    z-index: 1;
    opacity: .7;

}

.preset-bubbles img {
    max-width: 100vw;
}

.preset-circles img {
    max-width: 79vw;

}

.preset-content {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}



.preset-img-container {
    display: flex;
}

.preset-img {
    max-width: 60%;
    margin: auto;


}


.preset-bottom-wave {
    width: 100vw;
    vertical-align: bottom;
    z-index: 4;
}

/* ----------------PRESET SECTION----------------------- */
/* ----------------cst SECTION----------------------- */
#cst-section {
    background: linear-gradient(0deg, #FF7800 0%, #FFB100 90.32%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.cst-top-wave {
    vertical-align: top;
    z-index: 4;
    width: 100vw;
}

.cst-circles, .cst-bubbles {
    position: absolute;
    transition: transform 1s ease-out;
}

.cst-bubbles {
    z-index: 2;
    bottom: -100%;

}

.cst-circles {
    z-index: 1;
    opacity: .7;
    bottom: -100%;
    mix-blend-mode: overlay;

}

.cst-bubbles img {
    max-width: 100vw;
}

.cst-circles img {
    max-width: 79vw;

}

.cst-content {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}



.cst-img-container {
    display: flex;
}

.cst-img {
    max-width: 60%;
    margin: auto;


}


.cst-bottom-wave {
    width: 100vw;
    vertical-align: bottom;
    z-index: 4;
}

/* ----------------cst SECTION----------------------- */

/* ------------------MEDIA QUERY----------------------------------------------------- */

@media screen and (min-width:1712px) {
    .hero-text h1 {
        font-size: 4.5rem;
    }
}


@media screen and (max-width:1024px) {
    .pop-up-message {
        width: 80%;
        height: 30%;
    }

    .hero-img {
        top: 27rem;
    }

    .hero-img img {
        max-width: 50vw;
    }

    .hero-text h1 {
        font-size: 1.5rem;
    }

    .hero-text p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .hero-img {
        top: 17rem;
        left: 50%;
        transform: translateX(-50%);
        transition: transform 2s ease-in-out;
        animation: none;
    }

    .hero-img img {
        max-width: 70vw;
    }

    .hero-text p {
        display: none;
    }

    .hero-text {
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
    }

    .hero-text h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    /*------------------sections----------------------------*/
    .title {
        font-size: 2.5rem;
    }

    /*------------------sections----------------------------*/
}

@media screen and (max-width: 560px) {
    .hero-text h1 {
        font-size: 2rem;
        text-align: center;
    }

    .pop-up-title {
        font-size: 1rem;
    }


}

@media screen and (max-width: 426px) {
    .hero-img img {
        display: none;
    }

    .hero-blob-2 img, .hero-blob-3 img {
        animation: small-blob 5s infinite;
    }

    .hero-blob {
        display: block;
        top: 50%;
        transform: translate(50%, -50%);
        right: 50%;
    }

    .hero-blob-2 img {
        width: 15vw;
    }

    .hero-blob-2 {
        display: block;
        top: 62%;
        transform: rotate(143deg);
        right: 72%;
    }

    .hero-blob-3 img {
        width: 10vw;
    }

    .hero-blob-3 {
        display: block;
        top: 21%;
        transform: rotate(192deg);
        right: 34%;
    }

    .hero-blob img {
        width: 98vw;
    }

    /*------------------sections----------------------------*/
    .title {
        font-size: 1.5rem;
    }

    /*------------------sections----------------------------*/
    /*------------------subscribe----------------------------*/

    .subscribe-content {
        height: 60vh;
    }

    /*------------------subscribe----------------------------*/
    /*------------------preset----------------------------*/

    .preset-content {
        height: 60vh;
    }

    /*------------------preset----------------------------*/

    /*------------------cst----------------------------*/

    .cst-content {
        height: 60vh;
    }

    /*------------------cst----------------------------*/
}


@media screen and (max-width: 375px) {
    .hero-text h1 {
        font-size: 1.5rem;
    }
}